a{
    background-color: pink;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.main{
    width: 600px;
    background-color: limegreen;
}

.main h2{
    background-color: pink;
}

img{
    display: none;
}





