*{
    padding: 0;
    margin:0 ;
}

/*  
    rotate(deg),rotateX(deg),rotateY(deg),
    skew(deg),skewX(deg),skewY(deg),
    translate(px),translateX(px),translateY(px),
    scale(angka),scaleX(angka),scaleY(angka),

*/

body{
    height: 2000px;
    background-image: url(gambar/bg.jpg);
    background-repeat: repeat;

}

.container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
}

.kotak{
    width: 200px;
    height: 200px;
    background-color: rgba(236, 2, 2, 0.753);
    margin: 50px auto;
    transition: 1s;
}

.kotak:hover{
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg) ;
}

.kotak2{
    width: 200px;
    height: 200px;
    background-color: rgba(212, 236, 2, 0.753);
    margin: 50px auto;
    transition: 1s;
}

.kotak2:hover{
    transform: skew(180deg) skewX(180deg) skewY(180deg);
}

.kotak3{
    width: 200px;
    height: 200px;
    background-color: rgba(21, 236, 2, 0.753);
    margin: 50px auto;
    transition: 1s;
}

.kotak3:hover{
    transform: translate(100px) translateX(100px) translateY(100px) translateZ(100px);
}

.kotak4{
    width: 200px;
    height: 200px;
    background-color: rgba(2, 17, 236, 0.753);
    margin: 50px auto;
    transition: 1s;
}

.kotak4:hover{
    transform: scale(2);
}

p{
    text-align: center;
    justify-content: center;
    margin: 0px 20px;
}