    * {
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 900px;
        margin: 10px auto;
        border: 5px solid;
    }
    
    .kotak {
        width: 100px;
        height: 100px;
        background-color: purple;
        transition: 1s;
        text-align: center;
        line-height: 100px;
        margin: 10px 0px;
    }
    
    .container:hover .kotak {
        transform: rotate(720deg);
        margin-left: 800px;
        background-color: royalblue;
    }
    
    .kotak1 {
        transition: all 3s ease;
    }
    
    .kotak2 {
        transition: all 3s ease-in;
    }
    
    .kotak3 {
        transition: all 3s ease-out;
    }
    
    .kotak4 {
        transition: all 3s ease-in-out;
    }
    
    .kotak5 {
        transition: all 3s linear;
    }
    
    .kotak6 {
        transition: all 3s cubic-bezier(0.99, 0.02, 0.01, 1.01);
    }